name: Deploy ${{ inputs.tag }} to Staging

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy'
        required: true
        type: string

permissions: {}

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      tag: ${{ inputs.tag }}
      environment: staging
      lock: false
    secrets:
      DEPLOYMENT_GITHUB_TOKEN: ${{ secrets.DEPLOYMENT_GITHUB_TOKEN }}

